/* Css Variables */
:root {

  --primary-color: blue;
  --secondary-color: lightcyan;
  --tertiary-color: lightgray;
}


/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* General Styling */  
body {
  
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary-color);
  line-height: 1.4;
}
p {
  font-size: 18px;
  line-height: 1.9;
  margin-top: 8px;
  margin-bottom: 8px;
  
}

/* styling Header Section */

header {
  
  background-color: var(--tertiary-color);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 5px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  position: relative;
  left: -25px;
  padding: 5px 0px 5px 90px;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  width: 25%;
}

header a {
  color: var(--primary-color);
  text-decoration: none;
}
header nav {
  
  margin: 7px 0px;
  
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px;
  font-weight:lighter;
  font-size: 20px;
  text-shadow: 0 0 0 5px rgba(0,0,0,0.5);
  text-decoration: none;
  margin: 0 20px;
  border-bottom: 3px solid var(--primary-color);
  
  
}
header nav ul li a:hover {
  background-color: var(--secondary-color);
  border-radius:15px;
  text-shadow: none;
}


/* Footer Section */  

footer h2 {
  color: var(--primary-color);
  
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  
}
footer div {
  margin: 8px 0;
  width: 87%;
  display: flex;
  flex-wrap: wrap;
}
footer div ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  
}
footer div ul li a {
  
  color: var(--primary-color);
  text-decoration: none;
  font-weight: lighter;
  font-size: 20px;
  border-bottom: 3px solid  var(--primary-color);
  padding: 10px;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  
}
footer div ul li a:hover {
  background-color: var(--secondary-color);
  border-radius:15px;
  text-shadow: none;
}

/* Hero Section */

.hero {
  background-image: url("../images/hero.jpeg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  height: 400px;
  opacity: 0.7; 
  padding: 25px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}
.hero div {
  text-align: center;
  padding:  60px 60px;
  position: relative;
}

.hello {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-bottom: 10px;
  padding: 5px;
  font-size: 25px;
  line-height: 1.5;
  position: absolute;
  right: -350px;
  bottom: -10px;
  width: 100%;
}
.profile-image {
  border-radius: 40%;
}
/* Styling: Main section */

  .contents {
  padding: 40px 30px;
  background-color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  
  color: var(--primary-color);
}
.title {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  border-right: 4px solid var(--primary-color);
  padding-right: 12px;
  width: 12%;
  }

.title > h2 {
  margin-left: 8px;
  font-size: 27px;
  
}
.intro {
  line-height: 1.6;
  padding-left: 10px;
  width: 87%;
  
}


/* Main section :-Projects */

.project-contents {
  
  width: 87%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 600px;
}
.project-contents p {
  color: var(--primary-color);
  padding: 5px;
  font-weight: bolder;
  position: absolute;
  bottom: 7px;
  background-color: var(--secondary-color);
  border: 3px solid var(--tertiary-color);
  font-size: 16px;
  line-height: 1.4;
}
.project {
  position: relative;
  width: 48%;
  margin: 10px;
}


.first-project {
  position: relative;
  width: 100%;
  margin: 10px;
  background-image: url("../images/beers.PNG");
  background-size: cover;
  border: 4px solid var(--tertiary-color);
}
.project:hover {
  opacity: 0.5;
}


#Horiseon-project {
  background-image: url(../images/Horiseon.png);
  background-size: cover;
  border: 4px solid var(--tertiary-color);
}
#Basic-css {
  background-image: url(../images/css-practice.jpg);
  background-size: cover;
  border: 4px solid var(--tertiary-color);
  
}
#Basic-html {
  background-image: url(../images/Musician.png);
  background-size: cover;
  border: 4px solid var(--tertiary-color);
  
}
#project-01 {
  background-image: url(../images/Runbuddy.png);
  background-size: cover;
  border: 4px solid var(--tertiary-color);
}
/* End Of Project Section */

/* Media-query Section */

@media  screen and (max-width: 968px) {
  
  header {
    padding: 0;
    justify-content: center;
    position: relative;
    margin: 0;
    
    
  }
  header h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    position: static;
    border: 0;
    padding-left: 0; 
  }
  header nav ul  {
    margin-top: 20px;
    
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  header nav ul li {
    margin: 3px;
    
  }
 
  header nav ul li a {
    font-size: 20px;
  
  }
  footer {
    margin-left: 20px;
  }
  footer div {
    padding-left: 15px;
  }
  
  footer div ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
      
  }

  footer div ul li {
    margin-top: 15px;  
  }
  .hero div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .hello {
    position: static;
    font-size: 20px;
  }
  main {
    padding-bottom: 0px;
    padding-left: 30px;
    
  }
  
  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 100%; 
    flex-wrap: wrap;
    padding: 20px 25px;
    
  }
  .title {
    width: fit-content;
    border: 0;
  } 
  .title h2 > br {
    display: none;
  }
  .intro {
    border-top: 3px solid var(--primary-color);
    margin-top: 0px; 
    padding-top: 5px; 
    
  } 
  .project-contents {
    border-top: 3px solid var(--primary-color);
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 5px;
    
  } 
  .project-contents p {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    line-height: 1.2;
  }

  .project {
    width: 100%;
    
  }
  .contact {
    border-top: 3px solid var(--primary-color);
    margin-top: 0;
    
  } 
}
@media screen and (max-width: 790px) {
  section {
    padding: 30px 15px;
  }
  header {
    flex-direction: column;
    justify-content: center;
    
  }
  header h1 {
    font-size: 35px;
  }
  
  main {
    padding-left: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    
    }
  .project-contents p {
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    }
  
  .contact {
    margin-top: 0;
    margin-left: 8px;
    
  }
  .title h2 {
    font-size: 28px;
  }
  .hello {
    font-size: 18px;
    font-weight: bolder;
  }
  
}
@media screen and (max-width: 580px) {
  header nav {
    padding: 0;
    margin: 0;
  }
  
  header nav ul li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
  }
  header nav ul li a {
    font-size: 10px;
    margin: 5px;
  }
  .hero {
    padding-top: 50px;
  }
  .hello {
    font-size: 16px;
    font-weight: bolder;
  }
  
  .contents {
    flex: 0 100%;
  }
  .contact {
    margin-left: 0;
    padding-left: 0;
  }
  footer div {
    margin-left: 0;
    padding-left: 0;
  }
  .project-contents p {
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    line-height: 1.2;
  }
  footer div ul li a {
    font-size: 10px;
    margin: 5px;
  }
}
/* End Media-query  */