/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  
  font-family: Helvetica, Arial, sans-serif;
  color: blue;
  line-height: 1.4;
}
p {
  font-size: 18px;
  
}

/* styling header section */

header {
  
  background-color: lightgray;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 5px;
  color: blue;
  background-color: lightcyan;
  position: relative;
  left: -35px;
  padding: 5px 0px 5px 80px;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  width: 22%;
}

header a {
  color: blue;
  text-decoration: none;
}
header nav {
  
  margin: 7px 0px;
  
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight:lighter;
  font-size: 20px;
  text-shadow: 0 0 0 5px rgba(0,0,0,0.5);
  text-decoration: none;
  margin: 0 20px;
  border-bottom: 3px solid blue;
  
  
}
header nav ul li a:hover {
  background-color: lightcyan;
  border-radius:15px;
  text-shadow: none;
}


/* footer section */  

footer h2 {
  color: blue;
  
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  
}
footer div {
  margin: 8px 0;
  width: 87%;
  display: flex;
  flex-wrap: wrap;
}
footer div ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  
}
footer div ul li a {
  
  color: blue;
  text-decoration: none;
  font-weight: lighter;
  font-size: 20px;
  border-bottom: 3px solid blue;
  padding: 10px;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  
}
footer div ul li a:hover {
  background-color: lightcyan;
  border-radius:15px;
  text-shadow: none;
}



/* Hero section */

.hero {
  background-image: url("../images/hero.jpeg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  height: 40vh;
  opacity: 0.7; 
  padding: 25px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}
.hero div {
  text-align: center;
  padding:  80px 60px;
}

.hello {
  background-color: lightcyan;
  color: blue;
  margin-bottom: 10px;
  padding:  5px 10px;
  font-size: 22px;
  line-height: 1;
  width: 50%;
}
.profile-image {
  border-radius: 40%;
  
}


/* Styling: Main section */
  
  /* common for main section */
.contents {
  padding: 20px 35px;
  background-color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  
  color: blue;
}
.title {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  border-right: 4px solid blue;
  padding-right: 12px;
  width: 12%;
  }

.title > h2 {
  margin-left: 8px;
  font-size: 27px;
  
}
.intro {
  line-height: 1.5;
  padding-left: 10px;
  width: 87%;
}

/* Main section :-Projects */

.project-contents {
  width: 87%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 600px;
}
.project-contents p {
  color: blue;
  padding: 5px;
  font-weight: bolder;
  position: absolute;
  bottom: 7px;
  background-color: lightcyan;
  border: 3px solid gray;
}
.project {
  position: relative;
  width: 48%;
  margin: 10px;
}


.first-project {
  position: relative;
  width: 100%;
  margin: 10px;
  background-image: url("../images/Runbuddy.png");
  background-size: cover;
  border: 4px solid gray;
}
.project:hover {
  opacity: 0.5;
}


#Horiseon-project {
  background-image: url(../images/Horiseon.png);
  background-size: cover;
  border: 4px solid gray;
}
#Basic-css {
  background-image: url(../images/css-practice.jpg);
  background-size: cover;
  border: 4px solid gray;
  
}
#Basic-html {
  background-image: url(../images/Musician.png);
  background-size: cover;
  border: 4px solid gray;
  
}
#Place-holder {
  background-image: url(../images/placeholder.jpg);
  background-size: cover;
  border: 4px solid gray;
}
/* End Of Project Section */

/* Media-query Section */

@media  screen and (max-width: 968px) {
  
  header {
    padding: 0;
    justify-content: center;
    position: relative;
    
  }
  header h1 {
    width: 100%;
    text-align: center;
    margin-right: 0;
    border: 0;
    position: static;
     
  }
  header nav ul  {
    margin-top: 20px;
    
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  header nav ul li {
    margin: 3px;
    
  }
 
  header nav ul li a {
    font-size: 20px;
  
  }
  footer div ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
  }
  

  footer div ul li {
    margin-top: 15px;  
  }
  
   
  .contents {
    display: flex;
    flex-direction: column;
    
    flex: 0 0 100%;
    
    padding-right: 0; 
    
  }
  .title {
    width: fit-content;
    border: 0; 
    
  }
  .title h2 > br {
    display: none;
  }
  .intro {
    border-top: 3px solid blue;
    margin-top: 10px; 
    padding-top: 5px; 
  } 
  .project-contents {
    border-top: 3px solid blue;
    margin: 10px;
  } 

  .project {
    width: 100%;
  }
  .contact {
    border-top: 3px solid blue;
  }

  
}

@media screen and (max-width: 790px) {
  section {
    padding: 30px 15px;
  }
  header {
    flex-direction: column;
    justify-content: center;
    
  }

  .content {
    display: flex;
    flex-direction: column;
    
    
  }
  .title {
    
  }
  
  }
@media screen and (max-width: 690px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  
}
@media screen and (max-width: 580px) {
}