/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  
  font-family: Helvetica, Arial, sans-serif;
  color: blue;
}
p {
  font-size: 18px;
}
/* styling header section */

header {
  
  background-color: lightgray;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: blue;
  background-color: lightblue;
  position: relative;
  right: 30px;
  padding: 0 30px;
  
}

header a {
  color: blue;
  text-decoration: none;
}
header nav {
  
  margin: 7px 0px;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight:lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 0 5px rgba(0,0,0,0.5);
  text-decoration: underline;
  
}
header nav ul li a:hover {
  background-color: lightcyan;
  border-radius:15px;
  text-shadow: none;
}


/* footer section */
footer {
  background: lightcyan;
  padding: 25px 30px;
  width: 100%;
  
}
footer h3 {
  color: blue;
  display: inline;
  font-size: 24px;
  margin: 0;
  
}

  

footer div ul li {
  display: inline;
  float: right;
  
}
footer div ul li a {
  margin: 0 30px;
  color: blue;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 2px solid blue;
  
}


/* Hero section */
section {
  padding: 60px;
}
.Hero {
  background-image: url("../images/hero.jpeg");
  height: 400px;
  opacity: 0.7;
}
.profile-logo {
  border-radius: 40px;
  height: 100px;
  width: 100px;
  padding-right: 5px;
  margin: 50px;
}
.profile-name {
  position: absolute;
  right: -60px;
  bottom:-100px;
  color:blue;
  background-color: lightblue;
  padding: 10px 20px;
}
.hero-content {
  color: blue;
  position: relative;
  
}

/* Styling: Main section */
  
  /* common for main section */
.contents {
  padding: 20px 35px;
  color: blue;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.title {
  width: 11%;
  border-right: 10px;
  border-right: 3px solid darkblue;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.title h2 {
  margin-left: 10px;
  font-size: 26px;
}
/* common styling ends */

/* Start About-me */
.introduction {
  background-color: lightcyan;
}

.information {
  padding-left: 12px;
  width: 86%;
  line-height: 1.2;
}
/* End About-me */

/* Main section :-Projects */

.work {
  background-color: lightgray;
}

.project-contents {
  width: 86%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 600px;
}
.project-contents p {
  color: blue;
  padding: 5px;
  font-weight: bolder;
  position: absolute;
  bottom: 7px;
  background-color: lightblue;
  border: 3px solid blue;
}

.first-project {
  width: 100%;
  position: relative;
  margin: 8px;
  background-size: cover;
}
.project {
  position: relative;
  margin: 8px;
  width: 45%;
}
